@{
    ViewData["Title"] = "Личевой счет";
}

<style>
    label {
        color: grey;
    }

    .table thead {
        background-color: rgba(0, 0, 0, 0.05);
        font-weight: 700;
    }

    .table thead td {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .table tr {
        background-color: rgba(0, 0, 0, 0.05);
    }
</style>
<div class="row">
    <div class="col-lg-3">
        <table class="table table-sm">
            <thead class="hovered-tr">
                <tr onclick="goToReestr()">
                    <td align="center">ОБЩЕДОМОВЫЕ ПРИБОТЫ</td>
                </tr>
            </thead>
        </table>
        <div class="card">
            <div class="card-body">
                <label>период с</label>
                <div class="input-group date">
                    <input id="periodStart" type="text" class="form-control search-control">
                    <span class="input-group-addon"><i class="form-control far fa-calendar-alt"></i></span>
                </div>

                <label>по</label>
                <div class="input-group date">
                    <input id="periodFinish" type="text" class="form-control search-control">
                    <span class="input-group-addon"><i class="form-control far fa-calendar-alt"></i></span>
                </div>

                <br />
                <div class="input-group">
                    <input type="button" class="btn btn-info form-control" value="Найти" onclick="LoadAbstractValues()" />
                    <input type="button" class="btn btn-secondary form-control" value="Очистить" onclick="ClearButtonClick()" />
                </div>

                <br />
                <div>
                    <button type="button" class="btn btn-info form-control" onclick="GetReport('General')">
                        <div class="row">
                            <div class="col-md-10">Общий расчет</div>
                            <div class="col-md-2 text-right"><i class="far fa-file-excel"></i></div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-md-2 " style="max-width:60px">Адрес: </div>
            <div class="col-md-10"><b id="address"></b></div>
        </div>
        <br />
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm" id="abstractLines">
                <thead>
                    <tr>
                        <td rowspan="4">Год</td>
                        <td rowspan="4">Месяц</td>
                        <td rowspan="4">Лицевой счет</td>
                        <td colspan="3">На начало</td>
                        <td colspan="8">За месяц</td>
                        <td colspan="2">На конец</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Начислено 100%</td>
                        <td rowspan="3">Остаток долга</td>
                        <td rowspan="3">Остаток процентов</td>
                        <td colspan="5">Начисления</td>
                        <td colspan="3">Оплата</td>
                        <td rowspan="3">Остаток основного долга</td>
                        <td rowspan="3">Остаток долга по процентам</td>
                    </tr>
                    <tr>
                        <td colspan="2">Корректировка</td>
                        <td rowspan="2">Ежемесячный аннуитетный платеж</td>
                        <td rowspan="2">Основной долг</td>
                        <td rowspan="2">Процентов</td>
                        <td rowspan="2">Итого оплачено</td>
                        <td rowspan="2">Оплата долга</td>
                        <td rowspan="2">Оплата процентов</td>
                    </tr>
                    <tr>
                        <td>Основной долг</td>
                        <td>Проценты</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>
    <script src="~/js/commonHouseInfo.js"></script>
}

